@import 'variables';
@import "mixins";

.edit, .delete{
    &:hover{
        text-decoration: underline;
        color: $secondayColor;
        transition: 0.3s;
    }  
}
.edit{
    color: $success;
    transition: 0.3s;
}
.delete{
    color: $danger;
    transition: 0.3s;
}
.btn.success-btn, .btn.danger-btn{
    height: 40px;
    padding: 8px 20px;
    cursor: pointer;
}
.btn.success-btn{
    background-color: $success;
}
.btn.danger-btn{
    background-color: $danger;
}
/*----------LOGIN PAGE STYLING----------*/
.admin-nav{
    height: 72px;
    // border: 1px dashed red;
    padding: 24px 8px;
}
.admin-nav img{
    margin-top: 12px;
}
h2{
    text-align: center;
    margin: 48px 0;
}
.login-wrapper{
    width: 50%;
    margin: auto;
    background-color: $bgGrey;
    height: 25em;
    border-radius: 8px;
}
.login-fields{
    @include formStyling;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

@media only screen and (max-width: 800px){
    .login-wrapper{
        width: 80%;
    }
}

@media only screen and (max-width: 500px){
    .login-wrapper{
        width: 90%;
    }
}

/*-------ADMIN INDEX PAGE STYLING--------*/
.admin-index table{
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    th, td{
        text-align: left;
        padding: 24px;
    }
}

@media screen and (max-width: 600px) {
    .admin-index{
        table{
            width: 95%;
        }
        @include responsiveTable600;
    } 

}

/*========STYLING FOR TRADE HISTORY ADMIN PANEL--------*/
.alt-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: $bgGrey;
    border-radius: 8px;
    margin-top: 24px;
    h4{
        font-weight: 400;
    }
}
@media only screen and (max-width: 500px){
    .alt-nav{
        flex-direction: column;
        h4{
            margin-bottom: 24px;
        }
    }
}
.trade-table{
    width: 100%;
    thead{
        font-weight: normal;
    }
    tbody{
        font-weight: 400;
    }
}

@media screen and (max-width: 600px) {
    .trade-table{
        @include responsiveTable600;
    }

}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.dialogue-box{
    background-color: $grey-3;
    border-radius: 8px;
    padding: 24px;
    max-width: 450px;
    height: 300px;
    margin: auto;
    .content-wrapper{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        margin-top: 20%;
    }
    .close {
        color: #aaaaaa;
        align-self: flex-end;
        margin-top: -20%;
        margin-bottom: 15%;
        font-size: 24px;
        font-weight: 500;
        transition: 0.3s;
    }
      
      .close:hover,
      .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;
    }
    p{
        margin-bottom: 48px;
    }
    .btn-group{
        flex-direction: row;
        align-self: flex-end;
        button{
            margin-right: 12px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .dialogue-box{
        width: 80%;
    }
}