@import 'variables';
@import "mixins";

*{
    font-family: 'Poppins', sans-serif;
}
.edit, .delete, .publish{
    &:hover{
        text-decoration: underline;
        color: $secondayColor;
        transition: 0.3s;
    }  
}
.edit{
    color: $success;
    transition: 0.3s;
}
.delete{
    color: $danger;
    transition: 0.3s;
}
.publish{
    color: $neutral;
    transition: 0.3s;
}
.btn.success-btn, .btn.danger-btn{
    height: 40px;
    padding: 8px 20px;
    cursor: pointer;
}
.btn.success-btn{
    background-color: $success;
}
.btn.danger-btn{
    background-color: $danger;
}
button{
    outline: none;
    border: unset;

}
.exception{
    visibility: hidden;
}
/*----------LOGIN PAGE STYLING----------*/
.admin-nav{
    height: 72px;
    // border: 1px dashed red;
    padding: 24px 8px;
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    form{
        margin-top: -12px;
    }
    .admin-search{
        width: 400px;
        margin-right: 12px;
        height: 45px;
        padding-left: 12px;
    }

    .search-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primaryColor;
        width: 40px;
        height: 45px;
        transition: 0.3s;
        border-radius: 8px;
        border-width: 0px;
        color: #fff;
        float: right;
        font-size: 18px;
    }
    
}
.login-nav .logo-exception{
        margin-top: 24px;
    }
.admin-nav img{
    margin-top: 12px;
}
h2{
    text-align: center;
    margin: 48px 0;
}
.login-wrapper{
    width: 50%;
    margin: auto;
    background-color: $bgGrey;
    height: 25em;
    border-radius: 8px;
}
.login-fields{
    @include formStyling;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

@media screen and (max-width: 800px){
    .login-wrapper{
        width: 80%;
    }
}

@media screen and (max-width: 500px){
    .login-wrapper{
        width: 90%;
    }
    .admin-nav{
        position: fixed;
        top: 0;
        background-color: $bgColor;
        form{
            margin-top: -12px;
        }
        .admin-search{
            width: 80%;
            margin-right: 6px;
            height: 45px;
        }
    }
}

@media screen and (max-width: 350px){
    .admin-nav{
        form{
            margin-top: -12px;
            display: flex;
            justify-content: flex-end;
        }
        .admin-search{
            width: 70%;
            margin-right: 2px;
            height: 45px;
        }
    }
}

/*-------ADMIN INDEX PAGE STYLING--------*/
.admin-index table{
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    th, td{
        text-align: left;
        padding: 24px;
    }
}

@media screen and (max-width: 600px) {
    .admin-index{
        table{
            width: 95%;
        }
        @include responsiveTable600;
    } 

}

/*========STYLING FOR TRADE HISTORY ADMIN PANEL--------*/
.alt-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: $bgGrey;
    border-radius: 8px;
    margin-top: 24px;
    h4{
        font-weight: 400;
    }
}

@media only screen and (max-width: 500px){
    .admin-wrapper{
        margin-top: 100px;
    }
    .alt-nav{
        flex-direction: column;
        h4{
            margin-bottom: 24px;
        }
    }
}
.trade-table{
    width: 100%;
    button{
        background: none;
        font-size: 16px;
        font-family: inherit;
        cursor: pointer;
    }
    thead{
        font-weight: normal;
    }
    tbody{
        font-weight: 400;
    }
}

@media screen and (max-width: 600px) {
    .trade-table{
        @include responsiveTable600;
    }

}


/*==========MODAL STYLINGS========*/
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    padding-bottom: 12px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.tradeModal{
    display: none;
}
.dialogue-box{
    background-color: $grey-3;
    border-radius: 8px;
    padding: 24px;
    max-width: 450px;
    height: 300px;
    margin: auto;
    .content-wrapper{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        margin-top: 20%;
    }
    .close {
        @include modalCloserStyling;
    }
    p{
        margin-bottom: 48px;
    }
    .btn-group{
        flex-direction: row;
        align-self: flex-end;
        button{
            margin-right: 12px;
        }
    }
}

@media only screen and (max-width: 600px) {
    .dialogue-box{
        width: 80%;
    }
}
@media only screen and (max-width: 348px) {
    .dialogue-box{
        padding: 12px;
        height: 270px;
    }
}

.create-history{
    background-color: $grey-3;
    border-radius: 8px;
    padding: 24px;
    max-width: 450px;
    height: 55em;
    margin: auto;
    .close {
        margin-left: 96%;
        @include modalCloserStyling;
    }
    .fields-wrapper{
        @include formStyling;
        form{
            width: 100%;
            margin-top: 24px;
        }
    }
   
}
@media only screen and (max-width: 600px) {
    .create-history{
        width: 80%;
    }
}
@media only screen and (max-width: 348px) {
    .create-history{
        padding: 12px;
    }
}


/*========STYLING FOR ONLINE STORE ADMIN PANEL--------*/
.store-table{
    img{
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: center;
    }
    table{
        thead tr{
            background-color: $grey-4;
        }
        tr:nth-child(even) {
            background-color: unset;
        }
    }
    
}

@media only screen and (max-width: 592px) {
    .store-table{
        table{
            tr:nth-child(even) {
                background-color: $grey-1;
            }
        }
        
    }
}


/*============CREATE PRODUCT ADMIN PANEL========*/
.content-container{
    background-color: $bgGrey;
    margin: 48px 0;
    border-radius: 8px;
}
.add-product{
    .fields-wrapper{
        @include formStyling;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 48px;
        form{
            width: 70%;
            margin-top: 24px;
        }
        input[type=file]{
            background-color: $lightGrey;
            color: #000;
        }
        input[type=file]::-ms-browse {
            background-color: $primaryColor;
            border-radius: 8px;
            padding: 15px 40px;
            cursor: pointer;
            transition: 0.3s;
            border: none;
            color: #fff;
            margin-top: -8px;
          }
          
          input[type=file]::-webkit-file-upload-button {
            background-color: $primaryColor;
            border-radius: 8px;
            padding: 15px 40px;
            cursor: pointer;
            transition: 0.3s;
            border: none;
            color: #fff;
            margin-top: -8px;
          }
          
          input[type=file]::file-selector-button {
            background-color: $primaryColor;
            border-radius: 8px;
            padding: 15px 40px;
            cursor: pointer;
            transition: 0.3s;
            border: none;
            color: #fff;
            margin-top: -8px;
          }
          
          input[type=file]::-ms-browse:hover {
            background-color: $secondayColor;
            transition: 0.3s;
          }
          
          input[type=file]::-webkit-file-upload-button:hover {
            background-color: $secondayColor;
            transition: 0.3s;
          }
          
          input[type=file]::file-selector-button:hover {
            background-color: $secondayColor;
            transition: 0.3s;
          }
          
        button{
            margin-bottom: 48px;
        }
    }
}


/*==============COURSE ADMIN PAGE STYLING SECTION=========*/
.course-wrapper{
    .trade-table table {
        th, td{
        padding-bottom: 48px;
        }
    }   
}