@import 'variables';
@import "mixins";

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: $bgColor;
    color: #fff;
    max-width: 1440px;
    margin: auto;
}

.page-wrapper{
    padding: 0 24px;
}
@media only screen and (max-width: 600px) {
    .page-wrapper{
        padding: 0 12px;
    }
}
  
  h1{
      font-size: clamp(2.5em, 3.5em, 4em);
  }
  
  h2{
      font-size: clamp(1.75em, 4vw, 2.5em);
  }
  h4 {
    font-size: clamp(20px, 3vw, 24px);
  }
  h5{
      font-size: 18px;
      font-weight: 600;
  }
  h2, h4, h5{
      line-height: 1.2;
  }
  .bold{
      font-weight: bold;
  }
  .margin-bottom{
      margin-bottom: 20px;
  }
  .margin-top{
    margin-top: 36px;
  }
  p{
      font-size: 16px;
      font-weight: normal;
  }
  a{
      text-decoration: none;
      color: #fff;
  }
  .btn{
      padding: 15px 40px;
      border: 0px;
      border-radius: 8px;
      background-color: $primaryColor;
      font-family: 'Poppins', sans-serif;
      transition: 0.3s;
      height: 54px;
      width: auto;
  }
  .btn:hover{
      background-color: $secondayColor;
      transition: 0.3s;
  }
  a.btn{
      text-decoration: none;
      color: #fff;
  }
  button{
      color: #fff;
      font-family: 'Poppins', sans-serif;
  }

  .input-field, textarea{
    background-color: $inputGrey;
    color: #fff;
    padding: 8px;
    height: 54px;
    outline: none;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    width: 80%;
  }
  @media only screen and (max-width: 800px){
    .input-field, textarea{
        width: 100%;
    }
  }
  textarea{
    height: 150px;
  }
  /*======ALTERNATIVE STYLING======*/
//   .container {
//     overflow: hidden;
//     *zoom: 1;
//     margin: 0 20px;
//   }
  
//   .site-content {
//     padding-top: 66px;
//   }
  
//   /* HEADER */
//   .header {
//     position: fixed;
//     left: 0;
//     right: 0;
//     height: 66px;
//     line-height: 66px;
//     color: #fff;
//     background-color: #3f51b5;
//   }
  
//   .header__logo {
//     font-weight: 700;
//     padding: 0 25px;
//     float: left;
//   }
  
//   /* MENU */
//   .menu {
//     float: left;
//   }
//   .menu a {
//     padding: 0 10px;
//   }
//   .menu a:hover {
//     color: #c5cae9;
//   }
  
//   /* RESPONSIVE */
//   @media only screen and (max-width: 768px) {
//     .site-pusher,
//     .site-container {
//       height: 100%;
//     }
  
//     .site-container {
//       overflow: hidden;
//     }
  
//     .site-pusher {
//       transition-duration: 0.3s;
//       transform: translateX(0px);
//     }
  
//     .site-content {
//       position: absolute;
//       top: 66px;
//       right: 0;
//       left: 0;
//       bottom: 0;
//       padding-top: 0;
//       overflow-y: scroll;
//       -webkit-overflow-scrolling: touch;
//     }
  
//     .header {
//       position: static;
//     }
  
//     .header__icon {
//       position: relative;
//       display: block;
//       float: left;
//       width: 50px;
//       height: 66px;
//       cursor: pointer;
//     }
//     .header__icon:after {
//       content: '';
//       position: absolute;
//       display: block;
//       width: 1rem;
//       height: 0;
//       top: 16px;
//       left: 15px;
//       box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
//     }
  
//     .menu {
//       position: absolute;
//       left: 0;
//       top: 0;
//       bottom: 0;
//       background-color: #3849a2;
//       /*    overflow-y: scroll;
//           -webkit-overflow-scrolling: touch;*/
//       width: 250px;
//       transform: translateX(-250px);
//     }
//     .menu a {
//       display: block;
//       height: 40px;
//       text-align: center;
//       line-height: 40px;
//       border-bottom: 1px solid #3f51b5;
//     }
  
//     .with--sidebar .site-pusher {
//       transform: translateX(250px);
//     }
//     .with--sidebar .site-cache {
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//       background-color: rgba(0, 0, 0, 0.6);
//     }
//   }
  
  /*=====NAVIGATION BAR STYLING=====*/
  .banner-wrapper{
      min-height: 80vh;
  }
  .navbar {
    display: flex;
    padding: 16px;
    font-family: sans-serif;
    color: white;
    justify-content: space-around;
    width: 100%;
    
  }
  .navbar-logo{
    width: 150px;
    height: auto;
  }
  .navbar__Link {
    padding-right: 8px;
  }
  
  .navbar__Items {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
  .navbar__Items li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
  }
  .navbar__Items li a{
    padding: 10px;
    text-decoration: none;
    line-height: 27px;
    transition: 0.3s;
  }
  .navbar__Items li a:hover{
    transition: 0.3s;
    color: $secondayColor;
  }
  .navbar__Items--right {
    margin-left:auto;
  }
  
  .navbar__Link-toggle {
    display: none;
  }
  
  @media only screen and (max-width: 922px) {
    .navbar {
    background-color: $bgColor;
    position: fixed;
    width: 100%;
    }
    .navbar-logo{
    width: 150px;
    height: auto;
    margin: 3px 5px;
  }
    .navbar__Items,
    .navbar {
      flex-direction: column;
      justify-content: flex-start;
      transition: 0.3s;
    }
      
      .navbar__Items {
      display:none;
      margin-left: 0;
    }
    .navbar__Items li{
    display: block;
      } 
      .navbar__Items--right {
      margin-left:0;
    }
    .navbar__Items--right .hire-btn{
        margin-top: 40px;
    }
      
      .navbar__ToggleShow {
      display: flex;
      height: auto;
      padding-bottom: 20px;
      transition: 0.3s;
    }
      
      .navbar__Link-toggle {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
      margin: 10px 36px 0 0;
      width: 40px;
      height: auto;
      right: 16px;
    }
    .navbar__Link-toggle img{
      width: 40px;
      height: auto;
    } 
  }
  /*=====END OF NAVIGATION BAR STYLING=====*/
  
  
  /*=====HERO SECTION STYLING=====*/
  .hero-section{
      display: grid;
      place-items: center;
  }
  .hero-section .hero-section__title{
      text-align: center;
      max-width: 980px;
      margin: 120px 0 20px 0px;
      padding: 0 15px;
    line-height: 1.2;
  }
  .hero-section .hero-img{
    width: 80%;
    height: auto;
    margin-top: 63px;
  }
  
  
  @media (max-width: 1000px){
        
      .hero-section .hero-section__title h1{
          font-size: 40px;
      }
  }
  @media (max-width: 600px){
    .hero-section, .hero-section .hero-section__title, .hero-img{
        width: 100%;
    }
      .hero-section .hero-section__title{
          font-size: 2em;
          margin: 100px 0 20px 0px;
      }
  }
  @media (max-width: 360px){
      .hero-section .hero-section__title{
          font-size: 1.8em;
          margin: 80px 0 20px 0px;
      }
      .hero-section .hero-section__title{
        width: 100%;
    }
  }
  @media (max-width: 330px){
    .hero-section .hero-section__title h1{
        font-size: 36px;
        margin: 80px 0 20px 0px;
    }
    .hero-section .hero-section__title{
      width: 100%;
  }
}
  /*=====END OF HERO SECTION STYLING=====*/

  /*=====TRADING SIGNAL SECTION STYLING====*/
.trading-section{
    @include row-column;
    .description-container{
        @include column-description;
    }
    .image-container{
        @include column-img;
        img{
            width: 100%;
            border-radius: 12px;
        }
    }
}
@media only screen and (max-width: 700px){
	.trading-section{
        @include responsive;

        .description-container, .image-container{
            width: 100%;
            padding:unset;
        }
        .image-container{
            margin-top: 24px;
        }
    }
}
/*=====END OF TRADING SIGNAL SECTION STYLING====*/


/*=====COMMUNITY FEATURES SECTION STYLING====*/
.feature-section{
    @include row-column;
    .description-container{
        @include column-description;
        margin-top: 36px;
    }
    .image-container{
        @include column-img;
        display: flex;
        justify-content: space-between;
        flex-flow: row wrap;
        .feature-section__item{
            width: 280px;
            margin-top: 36px;
        }
        h4{
            color: $secondayColor;
            margin: 12px 0 8px 0;
        }
        .feature-section_icon{
            color: #fff;
        }
        .ri-community-line{
            background-color: #6A6FDC;
            @include icon-preset;
        }
        .ri-bit-coin-line{
            background-color: #EE5717;
            @include icon-preset;
        }
        .ri-line-chart-line{
            background-color: #38DF35;
            @include icon-preset;
        }
        .ri-store-line{
            background-color: #F83A89;
            @include icon-preset;
        }
    }
}

@media only screen and (max-width: 700px){
	.feature-section{
        @include responsive;

        .description-container, .image-container{
            width: 100%;
            padding: unset;
        }

    }
}



.testimonial-section{
    margin-top: 124px;
    h2{
        max-width: 930px;
        margin-bottom: 24px;
    }
    .owl-carousel{
        background-color: $bgGrey;
        border-radius: 12px;
        padding: 24px;
        padding-left: 50px;
    }
    .testimonial-container{
        max-width: 350px;
        margin-bottom: 48px;
        .star-rating {
            margin-bottom: 12px;
        }
        .ri-star-fill {
            color: $secondayColor;
          }
          .ri-star-line {
            color: $secondayColor;
            opacity: 0.6;
          }
          main p {
            margin-bottom: 24px;
          }
    }

}



.history-section{
    @include row-column;
    .description-container{
        @include column-description;
        h2{
            width: 80%;
            line-height: 1.2;
        }
        p{
            margin-bottom: 24px;
        }
    }
    .image-container{
        @include column-img;
        img{
            width: 100%;
            border-radius: 12px;
        }
    }
}

@media only screen and (max-width: 700px){
	.history-section{
        @include responsive;

        .description-container, .image-container{
            width: 100%;
        }
        .image-container{
            margin-top: 36px;
        }
    }
}



.blog-section{
    margin-top: 123px;
    h2{
        margin-bottom: 48px;
    }
    .blog-post__container{
        @include responsive-grid;
    }
    .blog-post__card{
        @include card-properties;
        background: $blogCardGrey;
        .text-container{
            padding: 12px;
        }
        h5{
            color: $primaryColor;
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 12px;
            &:hover{
                text-decoration: underline;
            }
        }
        a{
            color: inherit;
        }
    }
}

.course-section{
    margin-top: 123px;
    h2{
        max-width: 840px;
        margin-bottom: 48px;
    }

    .course-container{
        @include responsive-grid;
    }
    .course-container__item{
        @include card-properties;
        &:hover{
            text-decoration: underline;
        }
        img{
            transition: 0.3s;
            &:hover{
                transform: scale(0.97);
                transition: 0.3s;
            }
        }
    }

}


.newsletter-section{
    margin-top: 123px;
    p{
        max-width: 840px;
        margin-bottom: 24px;
    }
    form{
        display: inline;
    }
    .input-field{
        width: 60%;
        margin-right: 12px;
        &::placeholder{
            color: $lightGrey;
        }
    }
}

@media only screen and (max-width: 600px){
.newsletter-section{
    form{
        display: block;
    }
        .input-field{
            width: 100%;
            margin-bottom: 36px;
        }
    }
}


.join-community{
    display: grid;
    place-items: center;
    margin: 123px 0 48px 0;
    
    
    h2{
        text-align: center;
        margin-bottom: 36px;
        max-width: 965px;
    }
}


footer{
    background-color: $bgGrey;
    height: 450px;
    position: relative;
    .footer-content__container{
        display: flex;
        justify-content: center;
        h4{
            margin-bottom: 24px;
        }
    }
    .footer-content__item{
        flex: 1;
        padding: 24px;
        .contact-options{
            margin-bottom: 48px;
            max-width: 80%;
            p{
                margin-bottom: 12px;
                display: flex;
            }
            a{
                &:hover{
                    text-decoration: underline;
                }
            }
            i{
                font-size: 24px;
                margin-right: 12px;
            }
        }
        .social-links{
            i{
                font-size: 24px;
                margin-right: 12px;
            }
            .ri-linkedin-fill{
                background-color: $linkedinBlue;
                @include icon-preset;
            }
            .ri-twitter-fill{
                background-color: $twitterBlue;
                @include icon-preset;
            }
            .ri-instagram-line{
                background-color: $instagramMaroon;
                @include icon-preset;
            }
        }

        .links{
            a{
                display: block;
                margin-bottom: 6px;
                transition: 0.3s;
                &:hover{
                    color: $secondayColor;
                    margin-left: 8px;
                    transition: 0.3s;
                }
            }
        }
    }
}

@media only screen and (max-width: 934px){
    footer{
        height: auto;
        .footer-content__container{
            flex-flow: row wrap;
            padding-left: 12px;
        }
    }
}






/*=====ABOUT PAGE STYLING=====*/

.banner-section{
    width: 100%;
    border-radius: 12px;
    background: linear-gradient( rgba(0,0,0, 0.3) ), url('../images/bg-img.jpg'), no-repeat, center;
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-end;
    .header-group{
        margin: 48px;
    }
    h1{
        font-size: 56px;
        font-weight: 600;
    }
    h4{
        font-weight: normal;
    }
}
@media only screen and (max-width: 800px){
    .banner-section{
        h1{
            font-size: 40px;
        }
        .header-group{
            margin: 24px;
        }
    }
}
@media only screen and (max-width: 450px){
    .banner-section{
        h1{
            font-size: 36px;
        }
        .header-group{
            margin: 24px;
        }
    }
}



.about-description{
    margin: 96px 12px 0 12px;
    max-width: 1020px;
    h2{
        margin-bottom: 12px;
    }
}


.trading-section{
    margin-top: 84px;
    .image-container{
        margin-right: 24px;
    }
}
@media only screen and (max-width: 450px){
    .trading-section{
        .image-container{
            margin-bottom: 24px;
        }
       
    }
}

.team-section{
    margin-top: 96px;
    h2{
        text-align: center;
        margin-bottom: 24px;
    }
    .team-container{
    @include card-responsive-flex;
        .card-container{
            background-color: unset;
            p{
                font-weight: bold;
                margin: 12px 0 6px 0;
                display: flex;
                justify-content: space-between;
                i{
                    @include icon-preset;
                    background-color: $linkedinBlue;
                    font-weight: normal;
                }
            }
        }
    }
}
/*=====END OF ABOUT PAGE STYLING=====*/

/*=-------CONTACT PAGE STYLING---------*/
.contact-headings{
    text-align: center;
    margin-bottom: 72px;
    height: 16vh;
    margin-top: 48px;
}
.contact-wrapper{
    display: flex;
    width: 80%;
    background-color: $bgGrey;
    margin: auto;
    border-radius: 8px;
    padding: 48px 24px;
    justify-content: center;
    margin-bottom: 72px;
    .contact-details{
        width: 50%;
        h4{
            margin-bottom: 24px;
        }
        .contact-options{
            margin-bottom: 48px;
            max-width: 80%;
            p{
                margin-bottom: 12px;
                display: flex;
            }
            a{
                &:hover{
                    text-decoration: underline;
                }
            }
            i{
                font-size: 24px;
                margin-right: 12px;
            }
        }
        .social-links{
            i{
                font-size: 24px;
                margin-right: 12px;
            }
        }
    }
    .contact-fields{
        width: 50%;
        h4{
            margin-bottom: 24px;
        }
        @include formStyling;
    }
}


@media only screen and (max-width: 800px) {
    .contact-fields{
        margin-top: 60px;
    }
    .contact-wrapper{
        flex-direction: column;
        width: 90%;
        padding: 48px 0 48px 24px;
        .contact-details, .contact-fields{
            width: 100%;
        }
        .contact-fields{
            margin-top: 48px;
            .input-field{
                width: 100%;
            } 
        }
    }
}


/*--------TRADE HISTORY STYLING--------*/
.trade-banner{
    background: linear-gradient( rgba(0,0,0, 0.3) ), url('../images/bg-img4.jpg'), no-repeat, center;
    background-size: cover;
    width: 100%;
    h1{
        line-height: 1.2;
    }
}
.trade-table{
    width: 90%;
    background-color: $bgGrey;
    margin: auto;
    margin-top: 96px;
    border-radius: 8px;
    padding: 48px;

    @include tableStyling;
}


@media only screen and (max-width: 800px){
    .trade-table{
        width: 90%;
        padding: 24px;
    }
}

@media screen and (max-width: 600px) {
    @include responsiveTable600;

}


//COURSE PAGE STYLING
.course-banner{
    background: linear-gradient( rgba(0,0,0, 0.5) ), url('../images/bg-img3.png'), no-repeat, center;
    background-size: cover;
    width: 100%;
    h1{
        line-height: 1;
        font-weight: 600;
        margin-top: 12px;
        font-size: 48px;
    }
}
@media only screen and (max-width: 780px) {
    .course-banner{
        h1{
            font-weight: 500;
            font-size: 36px;
        }
    }
}

@media only screen and (max-width: 500px) {
    .course-banner{
        h1{
            font-size: 24px;
            font-weight: 600;
        }
    }
}

//ONLINE STORE PAGE STYLING
.store-banner{
    background: linear-gradient( rgba(0,0,0, 0.5) ), url('../images/bg-img5.jpg'), no-repeat, center;
    background-size: cover;
    width: 100%;
}
.product-wrapper{
    h2{
        text-align: center;
        margin: 96px 0 24px 0;
    }
}
.products-container{
    @include responsive-grid;
    .product-container__item{
        max-width: 360px;
        border-radius: 8px;
        margin: 12px;
        background-color: $bgGrey;
        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 250px;
            border-radius: 8px 8px 0 0;
        }
        main{
            padding: 12px  12px 24px 12px;
        }
        .details-container{
            display: flex;
            p{
                width: 50%;
                line-height: 1.2;
            }
            .btn{
                margin-left: auto;
                padding: 10px 35px;
                height: auto;
                text-align: center;
                vertical-align: middle;
            }
        }
        h5{
            margin-top: 12px;
        }
    }
    
}
.pagination{
    margin-top: 24px;
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            margin-left: 8px;
        }
    }
}



/*---------DEMO SIDEBAR STYLING-------*/