$primaryColor: #EE5717;
$secondayColor: #F8A606;
$bgColor:  #0A0909;
$bgGrey: #1D1D1D;
$grey-1: #333333;
$grey-2: #222222;
$grey-3: #1A1A1A;
$inputGrey:#434343;
$imageGrey: #464343;
$lightGrey: #C4C4C4;
$blogCardGrey: #1A1919;
$indicatorGrey: #666666;
$linkedinBlue: #0077B5;
$twitterBlue: #1DA1F2;
$instagramMaroon: #CD486B;
$success: #45AD43;
$danger: #F83A3A;
$neutral: #0077B5;
